.game-review-container {
  width: 800px;
  height: 250px;
  border: 2px solid lightgray;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  margin: 20px auto;
  gap: 20px;
  position: relative;
}
.game-review-container .game-review-img {
  height: 100%;
  border-radius: 10px;
}
.game-review-container .game-title {
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.game-review-container .description {
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.game-review-container .align-right {
  width: 125px;
  position: absolute;
  right: 20px;
}